<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新建投票</title>
</head>
<script src="/pintuer-2.0/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="/pintuer-2.0/pintuer-2.0.css">
<link rel="stylesheet" type="text/css" href="/pintuer-2.0/pintuer-2.0.custom.css">
<script src="/pintuer-2.0/pintuer-2.0.js"></script>
<body>

<div th:replace="common/navhead::navhead"></div>
<hr class="border-main bg-main" />
<div class="hr align-center"><span><h1>投票表</h1></span></div>
<div class="padding-large">
    <table class="table table-big">
        <tr class="align-left">
            <th>所有投票</th>
            <th>截止日期</th>
            <th>备注</th>
        </tr>
        <tr th:each="vote:${votes}">
            <td><a th:href="@{/findVoteById(vote_id=${vote.getVote_id()})}" th:text="${vote.getVote_name()}"></a></td>
            <td th:text="${vote.getEnd_date()}"></td>
            <td th:text="${vote.getVote_des()}"></td>
        </tr>
    </table>
</div>

</body>
</html>