<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>增加页面</title>
</head>
<script src="/pintuer-2.0/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="/pintuer-2.0/pintuer-2.0.css">
<link rel="stylesheet" type="text/css" href="/pintuer-2.0/pintuer-2.0.custom.css">
<script src="/pintuer-2.0/pintuer-2.0.js"></script>
<script src="/layui/layui.all.js"></script>
<body>
<div th:replace="common/navhead::navhead"></div>
<hr class="border-main" />
    <div class="padding-big">

            <form class="form" action="/addpage">
                <div class="input-group">
                    <label>页面名称</label>
                    <div class="input-block">
                        <input name="page_name" required class="input" placeholder=""/>
                    </div>
                </div>
                <div class="input-group">
                    <label>网页地址</label>
                    <div class="input-block">
                        <input name="page_link" required class="input"/>
                    </div>
                </div>
                <div class="input-group">
                    <label>所属类别</label>
                    <div class="input-block">
                        <select name="page_type" class="input">
                            <option>公告</option>
                            <option>投票</option>
                            <option>办事</option>
                        </select>
                    </div>
                </div>
                <div class="input-group">
                    <label>说明</label>
                    <input name="page_des" class="input" />
                </div>
                <button type="submit" class="button bg-main margin-small">添加</button>
            </form>

    </div>
</body>
</html>