<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>事项管理</title>
</head>
<script src="/pintuer-2.0/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="/pintuer-2.0/pintuer-2.0.css">
<link rel="stylesheet" type="text/css" href="/pintuer-2.0/pintuer-2.0.custom.css">
<script src="/pintuer-2.0/pintuer-2.0.js"></script>
<body>
    <div class="hr align-center"><span><h1>车牌管理审批</h1></span></div>
    <div class="padding-large">
        <table class="table table-big">
            <tr class="align-left">
                <th>户号</th>
                <th>车牌号</th>
                <th>联系电话</th>
                <th>备注</th>
                <th>录库或出库</th>
                <th class="align-center">操作</th>
            </tr>
            <tr>
                <td>2-2-303</td>
                <td>浙A123456</td>
                <td>13756789101</td>
                <td>尽快啊</td>
                <td>录库</td>
                <td class="align-center">
                    <button class="button bg-main">已受理</button>
                </td>
            </tr>
            <tr>
                <td>2-1-301</td>
                <td>浙A165456</td>
                <td>13721789101</td>
                <td>尽快啊</td>
                <td>出库</td>
                <td class="align-center">
                    <button class="button bg-main">已受理</button>
                </td>
            </tr>
            <tr>
                <td>2-2-4203</td>
                <td>浙A123096</td>
                <td>13756786701</td>
                <td>尽快啊</td>
                <td>录库</td>
                <td class="align-center">
                    <button class="button bg-main">已受理</button>
                </td>
            </tr>
            <tr>
                <td>2-1-301</td>
                <td>浙A165456</td>
                <td>13721789101</td>
                <td>尽快啊</td>
                <td>出库</td>
                <td class="align-center">
                    <button class="button bg-main">已受理</button>
                </td>
            </tr>
            <tr>
                <td>2-2-4203</td>
                <td>浙A123096</td>
                <td>13756786701</td>
                <td>尽快啊</td>
                <td>录库</td>
                <td class="align-center">
                    <button class="button bg-main">已受理</button>
                </td>
            </tr>
            <tr>
                <td>2-1-301</td>
                <td>浙A165456</td>
                <td>13721789101</td>
                <td>尽快啊</td>
                <td>出库</td>
                <td class="align-center">

                    <button class="button bg-main">已受理</button>
                </td>
            </tr>
            <tr>
                <td>2-2-4203</td>
                <td>浙A123096</td>
                <td>13756786701</td>
                <td>尽快啊</td>
                <td>录库</td>
                <td class="align-center">
                    <button class="button bg-main">已受理</button>
                </td>
            </tr>
            <tr>
                <td>2-1-301</td>
                <td>浙A165456</td>
                <td>13721789101</td>
                <td>尽快啊</td>
                <td>出库</td>
                <td class="align-center">
                    <button class="button bg-main">已受理</button>
                </td>
            </tr>
            <tr>
                <td>2-2-4203</td>
                <td>浙A123096</td>
                <td>13756786701</td>
                <td>尽快啊</td>
                <td>录库</td>
                <td class="align-center">
                    <button class="button bg-main">已受理</button>
                </td>
            </tr>
        </table>
    </div>
</body>
<script>


</script>
</html>