<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>杭州电话簿</title>
</head>
<script src="/pintuer-2.0/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="/pintuer-2.0/pintuer-2.0.css">
<link rel="stylesheet" type="text/css" href="/pintuer-2.0/pintuer-2.0.custom.css">
<script src="/pintuer-2.0/pintuer-2.0.js"></script>
<body>
<div class="hr align-center"><span><h1>杭州电话簿</h1></span></div>
    <div class="padding-large">
        <table class="table table-big">
            <tr class="align-left">
                <th>单位</th>
                <th>电话</th>
                <th>作用</th>
            </tr>
            <tr>
                <td>24小时电话</td>
                <td><a>0571-88671818</a></td>
                <td>随时联系</td>
            </tr>
            <tr>
                <td>奥克斯保安室</td>
                <td><a>88790372</a></td>
                <td>小区安保</td>
            </tr>
            <tr>
                <td>奥克斯项目经理</td>
                <td><a>13736096251</a></td>
                <td>经理工作号</td>
            </tr>
            <tr>
                <td>晚班领班电话</td>
                <td><a>18268016221</a></td>
                <td>私人电话，有事再打。</td>
            </tr>
            <tr>
                <td>杭州信访局</td>
                <td><a>0571-12345</a></td>
                <td>举报投诉先进单位</td>
            </tr>
            <tr>
                <td>仓前街道主任电话</td>
                <td><a>0571-88610110</a></td>
                <td>调解矛盾，和谐社区。</td>
            </tr>
            <tr>
                <td>余杭公安局</td>
                <td><a>0571-86225275</a></td>
                <td>保卫余杭治安</td>
            </tr>
            <tr>
                <td>余杭街道办</td>
                <td><a>0571-88662107</a></td>
                <td>反正是街道的</td>
            </tr>
            <tr>
                <td>余杭人民政府</td>
                <td><a>0571-86222213</a></td>
                <td>为人民服务的</td>
            </tr>
            <tr>
                <td>余杭司法局</td>
                <td><a>0571-86234572</a></td>
                <td>搞司法的</td>
            </tr>
            <tr>
                <td>余杭财政局</td>
                <td><a>0571-86223902</a></td>
                <td>搞财政的</td>
            </tr>
            <tr>
                <td>余杭疾控中心</td>
                <td><a>0571-8622 4289</a></td>
                <td>防治疫情的</td>
            </tr>
            <tr>
                <td>仓前派出所</td>
                <td><a>0571-88611009</a></td>
                <td>搞治安的</td>
            </tr>
            <tr>
                <td>余杭教育局</td>
                <td><a>0571-86224028</a></td>
                <td>搞教育的</td>
            </tr>
            <tr>
                <td>余杭水务</td>
                <td><a>0571-96390</a></td>
                <td>供水的</td>
            </tr>
            <tr>
                <td>未来科技城管委会</td>
                <td><a>0571-88605326</a></td>
                <td>决策监督单位</td>
            </tr>
            <tr>
                <td>余杭住建局或资源规划分局</td>
                <td><a>0571-86224732</a></td>
                <td>与城建有关</td>
            </tr>
            <tr>
                <td>1818热线</td>
                <td><a>0571-88825050</a>/<a>13757111818</a></td>
                <td>媒体关心您</td>
            </tr>
        </table>
    </div>
</body>
</html>